@page "/"

<div class="hero-section">
    <img src="images/Me.jpg" alt="Profile Photo" />
    
    <h1>Hey, I'm <span class="highlight">Taylor</span></h1>
    
    <p>
        I am a <span class="highlight">passionate developer</span> who aims to build 
        <strong>clean web applications</strong> and <strong>efficient backend systems</strong>
        and completely random stuff at times.
    </p>
    
    <p>
        I am a passionate developer with over a decade of experience in building web applications and backend systems.
        I always intended to become a game's designer but fell into software development by chance and it stuck.
        I couldn't tell you if that was the right path, however, I really enjoy what I do.
    </p>
    
    <p>
        I genuinely love trying to <span class="highlight">writing clean code</span> that's easy to read and debug,
        I say trying because development is one of them things where you are always learning new things and improving and a decision that worked back then might not be one you would take today.
        However, with that said, I always aim to write code that is maintainable and scalable, always looking to improve my skills and stay updated with the latest industry trends.
    </p>
    
    <div style="margin-top: 2rem;">
        <a href="projects" class="btn-primary">View My Work</a>
    </div>
</div>

<div class="card">
    <h2>My Goal</h2>
    <p>
        To grow as a senior engineer and contribute to large-scale, impactful projects that make a difference.
    </p>
</div>
