<nav class="nav-menu">
    <div class="nav-brand">
        Dev<span>Portfolio</span>
    </div>
    <div class="nav-links">
        <NavLink href="" Match="NavLinkMatch.All">About Me</NavLink>
        <NavLink href="projects">Projects</NavLink>
        <NavLink href="skills">Skills</NavLink>
        <NavLink href="guides">Guides</NavLink>
    </div>
</nav>
