<nav class="nav-menu">
    <NavLink href="" Match="NavLinkMatch.All">About Me</NavLink>
    <NavLink href="projects">Projects</NavLink>
    <NavLink href="skills">Skills</NavLink>
    <NavLink href="guides">Guides</NavLink>
</nav>
